*.deb
CMakeFiles
obj-x86_64-linux-gnu
*.sw*

debian/*
!/debian/rules
!/debian/control
!/debian/libwangle.install
!/debian/libwangle-dev.install
!/debian/changelog
!/debian/compat
!/debian/copyright
!/debian/source
!/debian/README.Debian
